body{font-family: 'Heebo', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
background-color: black;
color: white;
}
p{
    color:white;
    font-size: 20px;
}
#missao{
    color:yellow;
    font-size: 16px;
    font-weight: 700;
}
#banner{

}

#lista{
    font-size: 45px; 
}

#conteudo{
    display: flex;
    margin-left: 300px;
}
#pizza{
    margin-left: 100px;
}
}